.chatbox-input {
    border: 1px solid gray; /* Borde superior para separarlo de la zona de mensajes */
    padding: 10px; /* Espacio interior para la comodidad al escribir */
    display: flex; /* Para alinear el campo de texto y el botón, si decides añadirlo */
    border-radius: 40px;
    width: 100%;
}

.chatbox-input textarea {
    outline: none;
    flex: 0 0 95%;
    border: none; 
    padding: 5px; 
    resize: none; 
    box-sizing: border-box; 
    height: 100%; 
    font-size: 16px; 
} 

.button-container {
    flex-direction: 0 0 5%;
    width: 100%;
    display: grid;
    place-items: center;
}

.chatbox-input button {
    width: 40px;
    height: 40px;
    background-color: black; /* Set the background color to white */
    color: white;
    font-weight: 900;
    font-size: larger;
    border-radius: 20%;
    border: none; /* Optional: removes the border */
    cursor: pointer; /* Optional: changes cursor to pointer on hover */
}

.chatbox-input button:disabled {
    background-color: #cccccc; /* Light grey to indicate disabled state */
    color: #666666; /* Darker grey for text to suggest non-interactivity */
    cursor: default; /* Change cursor to default to indicate it's not clickable */
}
